In [1]:
df = pd.DataFrame({"통계": [60, 70, 80, 85, 75], "미술": [50, 55, 80, 100, 95], "체육": [70, 65, 50, 95, 100] })

In [2]:
df

   통계   미술   체육
0  60   50   70
1  70   55   65
2  80   80   50
3  85  100   95
4  75   95  100

In [3]:
type(df["통계"])

pandas.core.series.Series

In [4]:
df["통계"] + df["미술"] + df["체육"]

0    180
1    190
2    210
3    280
4    270
dtype: int64

In [5]:
df["통계"] - df["미술"]

0    10
1    15
2     0
3   -15
4   -20
dtype: int64

In [6]:
df["통계"] * df["미술"]

0    3000
1    3850
2    6400
3    8500
4    7125
dtype: int64

In [7]:
df["통계"] / df["미술"]

0    1.200000
1    1.272727
2    1.000000
3    0.850000
4    0.789474
dtype: float64

In [8]:
df["통계"] % df["미술"]

0    10
1    15
2     0
3    85
4    75
dtype: int64

In [9]:
df["통계"]

0    60
1    70
2    80
3    85
4    75
Name: 통계, dtype: int64

In [10]:
df["통계"] + 10

0    70
1    80
2    90
3    95
4    85
Name: 통계, dtype: int64

In [11]:
df["통계"] - 10

0    50
1    60
2    70
3    75
4    65
Name: 통계, dtype: int64

In [12]:
df["통계"] * 10

0    600
1    700
2    800
3    850
4    750
Name: 통계, dtype: int64

In [13]:
df["통계"] / 10

0    6.0
1    7.0
2    8.0
3    8.5
4    7.5
Name: 통계, dtype: float64

In [14]:
df["통계"] % 10

0    0
1    0
2    0
3    5
4    5
Name: 통계, dtype: int64

In [24]:
df = pd.DataFrame({"통계": [60, 70, 80, 85, 75], "미술": [50, 55, 80, 100, 95], "체육": [70, 65, 50, 95, 100] })

In [25]:
df

   통계   미술   체육
0  60   50   70
1  70   55   65
2  80   80   50
3  85  100   95
4  75   95  100

In [26]:
df["통계미술+10"] = df["통계"] + df["미술"] + 10

In [27]:
df

   통계   미술   체육  통계미술+10
0  60   50   70      120
1  70   55   65      135
2  80   80   50      170
3  85  100   95      195
4  75   95  100      180

In [28]:
df["통계"] + df["미술"] - df["체육"]

0     40
1     60
2    110
3     90
4     70
dtype: int64

In [29]:
df = pd.DataFrame({"통계": [60, 70, 80, 85, 75], "미술": [50, 55, 80, 100, 95], "체육": [70, 65, 50, 95, 100] })

In [30]:
df

   통계   미술   체육
0  60   50   70
1  70   55   65
2  80   80   50
3  85  100   95
4  75   95  100

In [32]:
df.sum(axis = 0)

통계    370
미술    380
체육    380
dtype: int64

In [33]:
df.mean(axis=0)

통계    74.0
미술    76.0
체육    76.0
dtype: float64

In [34]:
df.sum(axis = 1)

0    180
1    190
2    210
3    280
4    270
dtype: int64

In [35]:
df.mean(axis = 1)

0    60.000000
1    63.333333
2    70.000000
3    93.333333
4    90.000000
dtype: float64

In [38]:
df = pd.DataFrame({"통계": [60, np.nan, 80, 85, 75], "미술": [50, 55, np.nan, 100, 95], "체육": [70, 65, 50, 95, np.nan] })

In [39]:
df

     통계     미술    체육
0  60.0   50.0  70.0
1   NaN   55.0  65.0
2  80.0    NaN  50.0
3  85.0  100.0  95.0
4  75.0   95.0   NaN

In [40]:
df["통계"] / 2

0    30.0
1     NaN
2    40.0
3    42.5
4    37.5
Name: 통계, dtype: float64

In [41]:
1000 / df["통계"]

0    16.666667
1          NaN
2    12.500000
3    11.764706
4    13.333333
Name: 통계, dtype: float64

In [43]:
df["통계"] / np.nan

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: 통계, dtype: float64

In [44]:
np.nan / df["통계"]

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: 통계, dtype: float64

In [45]:
df1 = pd.DataFrame({'통계': [60, 70, 80, 85, 75], '미술': [50, 55, 80, 100, 95], '체육': [70, 65, 50, 95, 100] })

In [46]:
df2 = pd.DataFrame({'통계': ['good', 'bad', 'ok' , 'good', 'ok'], '미술': [50, 60 , 80, 100, 95], '체육': [70, 65, 50, 70 , 100] })

In [47]:
df1

   통계   미술   체육
0  60   50   70
1  70   55   65
2  80   80   50
3  85  100   95
4  75   95  100

In [48]:
df2

     통계   미술   체육
0  good   50   70
1   bad   60   65
2    ok   80   50
3  good  100   70
4    ok   95  100

In [49]:
df1 + df2

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [50]:
df1 = pd.DataFrame({'미술': [10, 20, 30, 40, 50, 60], '통계':[60, 70, 80, 90, 100, 110] })
df2 = pd.DataFrame({'통계': [10, 20, 30, 40, 50], '미술': [60, 70, 80, 90, 100] })

In [51]:
df1

   미술   통계
0  10   60
1  20   70
2  30   80
3  40   90
4  50  100
5  60  110

In [52]:
df2

   통계   미술
0  10   60
1  20   70
2  30   80
3  40   90
4  50  100

In [54]:
df1 * df2

       미술      통계
0   600.0   600.0
1  1400.0  1400.0
2  2400.0  2400.0
3  3600.0  3600.0
4  5000.0  5000.0
5     NaN     NaN

In [55]:
df1 * df2

       미술      통계
0   600.0   600.0
1  1400.0  1400.0
2  2400.0  2400.0
3  3600.0  3600.0
4  5000.0  5000.0
5     NaN     NaN

In [61]:
df = pd.read_excel("korean-idol.xlsx")

In [63]:
df.head()

     이름     그룹  소속사  성별       생년월일      키 혈액형   브랜드평판지수
0    지민  방탄소년단  빅히트  남자 1995-10-13  173.6   A  10523260
1  지드래곤     빅뱅   YG  남자 1988-08-18  177.0   A   9916947
2  강다니엘    NaN  커넥트  남자 1996-12-10  180.0   A   8273745
3     뷔  방탄소년단  빅히트  남자 1995-12-30  178.0  AB   8073501
4    화사    마마무  RBW  여자 1995-07-23  162.1   A   7650928

In [64]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   이름       15 non-null     object
 1   그룹       14 non-null     object
 2   소속사      15 non-null     object
 3   성별       15 non-null     object
 4   생년월일     15 non-null     datetime64[ns]
 5   키        13 non-null     float64
 6   혈액형      15 non-null     object
 7   브랜드평판지수  15 non-null     int64
dtypes: datetime64[ns](1), float64(1), int64(1), object(5)
memory usage: 1.1+ KB

In [65]:
df.select_dtypes(include = 'object')

      이름     그룹      소속사  성별 혈액형
0     지민  방탄소년단      빅히트  남자   A
1   지드래곤     빅뱅       YG  남자   A
2   강다니엘    NaN      커넥트  남자   A
3      뷔  방탄소년단      빅히트  남자  AB
4     화사    마마무      RBW  여자   A
5     정국  방탄소년단      빅히트  남자   A
6     민현   뉴이스트     플레디스  남자   O
7     소연    아이들       큐브  여자   B
8      진  방탄소년단      빅히트  남자   O
9    하성운     핫샷  스타크루이엔티  남자   A
10    태연   소녀시대       SM  여자   A
11   차은우   아스트로     판타지오  남자   B
12    백호   뉴이스트     플레디스  남자  AB
13    JR   뉴이스트     플레디스  남자   O
14    슈가  방탄소년단      빅히트  남자   O

In [66]:
df.select_dtypes(exclude = 'object')

         생년월일      키   브랜드평판지수
0  1995-10-13  173.6  10523260
1  1988-08-18  177.0   9916947
2  1996-12-10  180.0   8273745
3  1995-12-30  178.0   8073501
4  1995-07-23  162.1   7650928
5  1997-09-01  178.0   5208335
6  1995-08-09  182.3   4989792
7  1998-08-26    NaN   4668615
8  1992-12-04  179.2   4570308
9  1994-03-22  167.1   4036489
10 1989-03-09    NaN   3918661
11 1997-03-30  183.0   3506027
12 1995-07-21  175.0   3301654
13 1995-06-08  176.0   3274137
14 1993-03-09  174.0   2925442